<div class="row">
  <div class="span12">
    <%= form_for @post do |f| -%>
      <%= f.label t :title %>
      <%= f.text_field :title, :class => "input-xxlarge" %>
      <%= f.label t(:content) %>
      <%= f.text_area :content , :class => "input-xxlarge" %>
      <%= f.label t(:source) %>
      <%= f.text_field :source, :class => "input-xxlarge" %>
      <div class="form-actions">
        <%= f.submit t(:submit), :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>