<% if admin_signed_in? %>
  <div class="row">
    <div class="span12">
      <%= link_to("New post", new_post_path , :class => "btn btn-mini btn-primary pull-right")%>
    </div>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <% @posts.each do |post| %>
        <li>
          <%= link_to post_path(post), {:remote => true, "data-type" => "script"} do %>
            <%= post.title %>
            <i class="icon-chevron-right pull-right"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <div id="content">
      <div class="page-header">
        <h1><%= @post.title %></h1>
      </div>
      <div class="well">
        <div class="content">
          <%= markdown(@post.content) %>
        </div>
        <span class="label label-info">Source:</span>
        <%= link_to @post.source, @post.source %>
      </div>
    </div>
  </div>
</div>