<%= form_for([:manage, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :id => 'editor' %>
  </div>
  <div class="field">
    <div id="preview">

    </div>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
 var converter = new Showdown.converter()
$(function() {
  // When using more than one `textarea` on your page, change the following line to match the one you’re after
  var $textarea = $('#editor'),
      $preview = $('#preview').insertAfter($textarea),
      convert = converter.makeHtml;

  // instead of `keyup`, consider using `input` using this plugin: http://mathiasbynens.be/notes/oninput#comment-1
  $textarea.keyup(function() {
    $preview.html(convert($textarea.val()));
  }).trigger('keyup');
});
</script>