<div class="row">
  <div class="span12">
    <%= form_for @post do |f| -%>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label t :title %>
      <%= f.text_field :title, :class => "input-xxlarge" %>
      <%= f.label t(:content) %>
      <%= f.text_area :content , :class => "input-xxlarge" %>
      <%= f.label t(:source) %>
      <%= f.text_field :source, :class => "input-xxlarge" %>
      <div class="form-actions">
        <%= f.submit t(:submit), :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>