<%= form_for([:manage, @post])  do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text_field' %>
  <%= f.label :source %>
  <%= f.text_field :source %>
  <div class="row">
    <div class="span6">
      <%= f.label :content%>
      <%= f.text_area :content, :id => 'editor', :class => "span5", :rows => 7, :placeholder => "use markdown" %>
    </div>
    <div class="span6">
      <label>privew</label>
      <div id="preview"></div>
    </div>
  </div>
  <%= submit_tag '儲存', :name => 'save_button', :class => 'btn btn-primary' %>
  <% if @post.can_confirm_publish? %>
  <%= submit_tag '儲存並發佈', :name => 'save_and_publish_button', :class => 'btn btn-primary' %>
  <% end %>
  文章狀態：<%= raw post_state @post.state %>
<% end %>

<script>
 var converter = new Showdown.converter()
$(function() {
  // When using more than one `textarea` on your page, change the following line to match the one you’re after
  var $textarea = $('#editor'),
      $preview = $('#preview'),
      convert = converter.makeHtml;

  // instead of `keyup`, consider using `input` using this plugin: http://mathiasbynens.be/notes/oninput#comment-1
  $textarea.keyup(function() {
    $preview.html(convert($textarea.val()));
  }).trigger('keyup');
});
</script>